@page
@model ClientProductManager.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products List";
}

<h2>Products List</h2>

<div class="mb-3">
    <a asp-page="./Create" class="btn btn-success">Add New Product</a>
</div>

@if (   Model.Products.Any())
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="text-center">
                <th>@Html.DisplayNameFor(model => model.Products.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.Products.First().Description)</th>
                <th>@Html.DisplayNameFor(model => model.Products.First().IsActive)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td class="text-center">@Html.DisplayFor(model => product.Name)</td>
                    <td class="text-center">
                        <span title="@Html.DisplayFor(model => product.Description)">
                            @if (product.Description.Length > 50)
                            {
                                @($"{product.Description.Substring(0, 50)}...")
                            }
                            else
                            {
                                @Html.DisplayFor(model => product.Description)
                            }
                        </span>
                    </td>
                    <td class ="text-center">@(product.IsActive ? "Active" : "Inactive")</td>
                    <td class="text-center">
                        <a asp-page="./Edit" asp-route-id="@product.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-page="./Details" asp-route-id="@product.Id" class="btn btn-sm btn-info">Details</a>
                        <a asp-page="./Delete" asp-route-id="@product.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination text-center">
            <li class="page-item @(Model.Pagination.PageNumber <= 1 ? "disabled" : "")">
                <a class="page-link" asp-route-pageNumber="@(Model.Pagination.PageNumber - 1)" asp-route-pageSize="Model.Pagination.PageSize">Previous</a>
            </li>
            @for (var i = 1; i <= Model.Pagination.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Pagination.PageNumber ? "active" : "")">
                    <a class="page-link" asp-route-pageNumber="@i" asp-route-pageSize="Model.Pagination.PageSize">@i</a>
                </li>
            }
            <li class="page-item @(Model.Pagination.PageNumber >= Model.Pagination.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-route-pageNumber="@(Model.Pagination.PageNumber + 1)" asp-route-pageSize="Model.Pagination.PageSize">Next</a>
            </li>
        </ul>
    </nav>
}
else
{
    <h3 class="text-danger text-center">No products found!</h3>
}
